<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt A-Cat/Dog</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<script src="js/script.js"></script>
<body>
<header>
    <a href="/"><img src="img/logo.png" alt="Logo"></a>
    <div id="current-time"></div>
    <div id="current-date"></div>
    <div id="loginMenu">
        <% if (username) { %>
            <p>Welcome back, <%= username %>! <a href="/logout">Logout</a></p>
        <% } else { %>
            <button id="loginBtn">Login / Register</button>
            <div id="overlay" class="overlay">
                <div class="overlay-content">
                    <span class="close">&times;</span>
                    <h2>Login / Register</h2>
                    <form id="loginForm" action="/login" method="POST">
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit">Login</button>
                    </form>
                    <form id="registerForm" action="/register" method="POST">
                        <input type="text" name="newUsername" placeholder="New Username" required>
                        <input type="password" name="newPassword" placeholder="New Password" required>
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    
</header>

<aside>
    <nav>
        <ul>
            <li><a href="/">Home page</a></li>
            <li><a href="find">Find a Dog/Cat</a></li>
            <li><a href="dog-care">Dog Care</a></li>
            <li><a href="cat-care">Cat Care</a></li>
            <li><a href="give-away">Have a pet to give away</a></li>
            <li><a href="contact">Contact Us</a></li>
        </ul>
    </nav>
</aside>