<%- include('partials/header.html'); %>
    <main>
        <h2>Contact Us</h2>
        <p>For inquiries or assistance, you can reach out to us using the following contact information:</p>
        <ul>
            <li><strong>Name:</strong> Sharif Atassi</li>
            <li><strong>Student ID:</strong> 40201755</li>
            <li><strong>Email:</strong> atassisha@gmail.com</li>
        </ul>
    </main>
    <%- include('partials/footer.html'); %>